body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.auxcontent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

h2 {
  background: #333;
  color: #fff;
  padding: 10px;
}

.section {
  border: 2px solid #ccc;
  padding: 20px;
  margin-top: 10px;
}

#personalBackground {
  max-width: 800px;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

ol li,
ul li {
  background: #f4f4f4;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 10px;
}

p {
  padding: 10px 0;
}

img {
  height: 220px;
  margin-right: 20px;
}